@model IEnumerable<MvcBookStore.Models.NHAXUATBAN>


<div class="list-group">
    <ul class="categories_list">
        @foreach (var item in Model)
        {
            <li class="categories_list">
                <a href="@Url.Action("SPTheoNXB","BookStore", new {id = item.MaNXB})" class="list-group-item">@item.TenNXB</a>
            </li>
        }
    </ul>
</div>

