
@{
    ViewBag.Title = "SPTheoNXB";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>SPTheoNXB</h2>

<h3 style="Text-align:Center; color:red"> SÁCH THEO NHÀ XUẤT BẢN </h3>
<div class="row">
    @foreach (var sach in Model)
    {
        <div class="product_box margin_r40">
            <div class="image_wrapper">
                <a href="@Url.Action("Details", "BookStore", new { id = sach.Masach })" target="_parent">
                    <img alt="@sach.Tensach" src="~/images/@sach.Anhbia" width="200" />
                </a>
            </div>
            <h3>@sach.Tensach</h3>
            <p class="price">Viewer: 15</p>
        </div>
      
    }
</div>
